{% load static %}
<form action="./question.html" method="post">
    <div class="question">
        <div class="question-left">
            <h3>Title</h3>
        </div>

        <div class="question-right">
            <input class="question-right-input" type="text" name="title" placeholder="How to build a moon park?">
            {% if errors.title %}
                <div class="error-message">
                    {{ errors.title }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="question">
        <div class="question-left">
            <h3>Text</h3>
        </div>

        <div class="question-right">
            <textarea class="comment" name="text" placeholder="Really, how? &#10Have no idea about it"></textarea>
            {% if errors.text %}
                <div class="error-message">
                    {{ errors.text }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="question">
        <div class="question-left">
            <h3>Tags</h3>
        </div>

        <div class="question-right">
            <input class="question-right-input" type="text" name="tags" placeholder="moon, park, puzzle">
            {% if errors.tags %}
                <div class="error-message">
                    {{ errors.tags }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="question">
        <div class="question-left">
        </div>

        <div class="question-right">
            <div class="question-search-form">
                <button class="question-search-form-button" type="submit">Ask!</button>
            </div>
        </div>
    </div>
</form>
