{% load static %}
<form action="./question.html">
    <div class="question">
        <div class="question-left">
            <h3>Title</h3>
        </div>

        <div class="question-right">
                <input class ="question-right-input" type="text" placeholder="How to build a moon park?">
        </div>
    </div>

    <div class="question">
        <div class="question-left">
            <h3>Text</h3>
        </div>

        <div class="question-right">
                <textarea class="comment" placeholder="Really, how? &#10Have no idea about it"></textarea>
        </div>
    </div>

    <div class="question">
        <div class="question-left">
            <h3>Tags</h3>
        </div>

        <div class="question-right">
                <input class ="question-right-input" type="text" placeholder="moon, park, puzzle">
        </div>
    </div>

    <div class="question">
        <div class="question-left">
        </div>

        <div class="question-right">
            <div class="question-search-form">
                    <button class ="question-search-form-button">Ask!</button>
            </div>
        </div>
    </div>
</form>