<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskPupkin</title>
    {% block css %}
    {% endblock %}
</head>

<body>
    <header class="header">
        <div class="logo">
            <h3>
                <a href="{% url 'index' %}">
                    AskPupkin
                </a>
            </h3>
        </div>

        <div class="search-form">
            <form action="{% url 'ask' %}">
                <input class ="search-form-input" type="text" placeholder="Search">
                <button class ="search-form-button">Ask!</button>
            </form>
        </div>

        <div class="account">
            <div class="account-image">
              <a href="{% url 'settings' %}">
                <img src="../static/img/account.png" alt="AccountImage">
              </a>
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Pepper</div>
                <div class="account-actions">
                    <a href="{% url 'settings' %}">Settings</a>
                    <a href="#">Log out</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="content">
            {% block content %}
            {% endblock %}
            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="#">perl</a>
                        <a href="#" style="color: #FF0000">python</a>
                        <a href="#">TechnoPark</a>
                        <a href="#" style="color: #FF0000">MySQL</a>
                        <a href="#" style="color: #32CD32">django</a>
                        <a href="#">Mail.Ru</a>
                        <a href="#">Voloshin</a>
                        <a href="#" style="color: #FFA500">Firefox</a>
                    </div>
                </section>

                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#"> Mr. Freeman</a></li>
                        <li><a href="#"> Dr. House</a></li>
                        <li><a href="#"> Bender</a></li>
                        <li><a href="#"> Queen Victoria</a></li>
                        <li><a href="#"> V. Pupkin</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>