{% load static %}
<article class="card">
    <div class="card-left">
        <img src="../static/img/account.png" alt="Image" class="card-image">
        <input type="number" class="card-likes" value="5">
    </div>

    <div class="card-right">
        <div class="card-right-content">
            <div class="card-text">First of all I would like to thank you for the </br>
            invitation to participate in such a ... Russia is the </br>
            huge territory which in many respects needs to</br>
            be render habitable.</div>
        </div>

        <div class="check">
            <input type="checkbox" id="scales" name="scales" checked/>
            <label for="scales">Correct!</label>
        </div>
    </div>
</article>