{% load static %}
<article class="main-card">
    <div class="main-card-left">
        <img src="../static/img/account.png" alt="Image" class="main-card-image">
        <input type="number" class="main-card-likes" value="5">
    </div>

    <div class="main-card-right">
        <div class="main-card-right-content">
            <h4 class="main-card-title">How to build a moon park?</h4>
            <div class="main-card-text">Lorem ipsum - dolor sit amet, consectetuer</br>
                adipiscing elit, sed diam nonummy nibh euismod</br>
                tincidunt ut laoreet dolore magna aliquam erat</br>
                volutpat. Ut wisi enim ad minim veniam, quis nostrud</br>
                exerci tation ullamcorpermsuscipit lobortis nisl ut</br>
                aliquip ex ea commodo consequat.</div>
        </div>

        <div class="main-card-bottom">
            <div class="main-card-tags">
                Tags:
                <a href="#">black-jack</a>
                <a href="./bender.html">bender</a>
            </div>
        </div>
    </div>
</article>