{% load static %}
<article class="card">
    <div class="card-left">
        <img src="../static/img/account.png" alt="Image" class="card-image">
        <input type="number" class="card-likes" value="{{ question.likes_count }}" readonly>
    </div>

    <div class="card-right">
        <div class="card-right-content">
            <h4 class="card-title"><a href="{% url 'one_question' question.id %}">{{ question.title }}</a></h4>

            <div class="card-text">{{ question.text }}</div>
        </div>

        <div class="card-right-bottom">
            <a href="{% url 'one_question' question.id %}">Answer ({{ question.answers_count }})</a>

            <div class="card-tags">
                Tags:
                {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</article>