body {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    display: flex;
    height: 60px;
    align-items: center;
    background-color: #009A63;
    padding: 10px;
}

.logo{
    position: absolute;
    left: 2%;
}

.logo a {
    text-decoration: none;
    font-size: 25px;
    color: #004524;
}

.logo a:visited {
    color: #4B0082;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.search-form form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-form-input {
    border-radius: 5px;
    height: 26px;
    width: 300px;
}

.search-form-button {
    all: unset;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #004524;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.search-form-button:hover {
    opacity: 80%;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 2%;
}

.account a {
    margin-right: 10px;
}

.account-image img {
    width: 50px;
    height: 50px;
    border: none;
}

.account-image a:hover img {
    transform: scale(1.25);
}

.account-actions a {
    text-decoration: none;
    color: #004524;
}

.account-actions a:visited {
    color: #4B0082;
}

.container {
    padding: 10px;
    background-color: white;
}

.content {
    display: flex;
    gap: 20px;
}

.ask-cards {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}


.card {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: #BDECB6;
}

.card-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
}

.card-image {
    width: 100%;
    height: 100%;
    border: none;
}

.card-likes {
    width: 100%;
    padding: 0;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card-title {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-title a {
    text-decoration: none;
    font-size: 25px;
    color: #004524;
}

.card-title a:visited {
    color: #4B0082;
}

.card-right-bottom {
    display: flex;
    justify-content: space-between;
}

.card-right-bottom a {
    text-decoration: none;
    color: #004524;
}

.card-right-bottom a:visited {
    color: #4B0082;
}

.your-answer {
    padding-top: 20px;
    border-top: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.comment {
    width: 100%;
    height: 300px;
    resize: none;
    border: medium solid black;
    margin-bottom: 20px;
}

.answer-form-button {
    all: unset;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #004524;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.answer-form-button:hover {
    opacity: 80%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
}

.popular-tags h3 {
    margin-bottom: 10px;
}

.tags a {
    text-decoration: none;
    margin-right: 10px;
    color: #004524;
}

.tags a:visited {
    color: #4B0082;
}

.best-members-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.best-members-list li::before {
    content: '•';
}

.best-members-list a {
    text-decoration: none;
    color: #004524;
}

.best-members-list a:visited {
    color: #4B0082;
}

nav {
    all: unset;
    margin: 20px auto;
    text-align: center;
}

.pagination {
    all: unset;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-item {
    all: unset;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #004524;
    padding: 5px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

.page-link {
    all: unset;
    border-radius: 5px;
    background-color: #004524;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.page-link:hover {
    opacity: 80%;
}