<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskPupkin</title>
    <link rel="stylesheet" href="./../static/css/bender.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <h3>
                <a href="./index.html">
                    AskPupkin
                </a>
            </h3>
        </div>

        <div class="search-form">
            <form action="./question.html">
                <input class ="search-form-input" type="text" placeholder="Search">
                <button class ="search-form-button">Ask!</button>
            </form>
        </div>

        <div class="account">
            <div class="account-image">
              <a href="./settings.html">
                <img src="../static/img/account.png" alt="AccountImage">
              </a>
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Pepper</div>
                <div class="account-actions">
                    <a href="./settings.html">Settings</a>
                    <a href="#">Log out</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="title-bar">
            <h1>Tag: bender</h1>
        </div>

        <div class="content">
            <div class="cards">
                <article class="card">
                    <div class="card-left">
                        <img src="../static/img/account.png" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="question.html">How to build a moon park?</a></h4>

                            <div class="card-text">Guys, i have trouble with a moon park. Can't find th black-jack...</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./question.html">Answer (3)</a>

                            <div class="card-tags">
                                Tags:
                                <a href="#">black-jack</a>
                                <a href="./bender.html">bender</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="../static/img/account.png" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="question.html">How to build a moon park?</a></h4>

                            <div class="card-text">Guys, i have trouble with a moon park. Can't find th black-jack...</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./question.html">Answer (3)</a>

                            <div class="card-tags">
                                Tags:
                                <a href="#">black-jack</a>
                                <a href="./bender.html">bender</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="../static/img/account.png" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">How to build a moon park?</a></h4>

                            <div class="card-text">Guys, i have trouble with a moon park. Can't find th black-jack...</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>
                            <div class="card-tags">
                                Tags:
                                <a href="#">black-jack</a>
                                <a href="#">bender</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="../static/img/account.png" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">How to build a moon park?</a></h4>

                            <div class="card-text">Guys, i have trouble with a moon park. Can't find th black-jack...</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>
                            <div class="card-tags">
                                Tags:
                                <a href="#">black-jack</a>
                                <a href="#">bender</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="../static/img/account.png" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">How to build a moon park?</a></h4>

                            <div class="card-text">Guys, i have trouble with a moon park. Can't find th black-jack...</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>
                            <div class="card-tags">
                                Tags:
                                <a href="#">black-jack</a>
                                <a href="#">bender</a>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="pagination">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>...</button>
                    <button>53</button>
                </div>
            </div>

            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="#">perl</a>
                        <a href="#" style="color: #FF0000">python</a>
                        <a href="#">TechnoPark</a>
                        <a href="#" style="color: #FF0000">MySQL</a>
                        <a href="#" style="color: #32CD32">django</a>
                        <a href="#">Mail.Ru</a>
                        <a href="#">Voloshin</a>
                        <a href="#" style="color: #FFA500">Firefox</a>
                    </div>
                </section>

                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#"> Mr. Freeman</a></li>
                        <li><a href="#"> Dr. House</a></li>
                        <li><a href="#"> Bender</a></li>
                        <li><a href="#"> Queen Victoria</a></li>
                        <li><a href="#"> V. Pupkin</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>