{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Hot Questions{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="cards">
        <div class="title-bar">
            <h1>Hot Questions</h1>
            <h4><a href="{% url 'app:index' %}">New Questions</a></h4>
        </div>

        {% for question in questions %}
            {% include 'layouts/question.html' %}
        {% endfor %}

        {% include 'layouts/pagination.html' %}
    </div>
{% endblock %}