{% extends 'layouts/base.html' %}

{% load bootstrap5 %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="title-bar">
            <h1>Log In</h1>
        </div>

        <div class="content">
            <div class="all-login">
                <form method="post" action="?continue={{ continue }}">
                    {% csrf_token %}

                    <div class="login">
                        {% bootstrap_field form.username %}
                    </div>

                    <div class="login">
                        {% with form=form %}
                        {% include "layouts/password_field.html" with label="Пароль" %}
                        {% endwith %}
                    </div>

                    <div class="login">
                        <div class="login-place">
                            <button type="submit" class="login-right-button">Log in!</button>
                            <a href="{% url 'app:signup' %}">create new account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}