{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block content %}
    <div class="ask-cards">
        {% include 'layouts/question.html' %}

        <h3>Answers ({{ question.answers_count }}):</h3>
        {% if answers %}
            {% for answer in answers %}
                {% include "layouts/card.html" with answer=answer %}
            {% endfor %}
        {% else %}
            <p>No answers yet. Be the first to answer!</p>
        {% endif %}

        {% include 'layouts/youranswer.html' %}
        {% include 'layouts/pagination.html' %}
    </div>
{% endblock %}