<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskPupkin</title>
    <link rel="stylesheet" href="./../static/css/question.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <h3>
                <a href="./index.html">
                    AskPupkin
                </a>
            </h3>
        </div>

        <div class="search-form">
            <form action="./question.html">
                <input class ="search-form-input" type="text" placeholder="Search">
                <button class ="search-form-button">Ask!</button>
            </form>
        </div>

       <div class="account">
            <div class="account-content">
                <div class="account-actions">
                    <a href="./login.html">Log in</a>
                    <a href="./register.html">Register</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="content">
            <div class="ask-cards">
                <article class="main-card">
                    <div class="main-card-left">
                        <img src="./account.png" alt="Image" class="main-card-image">
                        <input type="number" class="main-card-likes" value="5">
                    </div>

                    <div class="main-card-right">
                        <div class="main-card-right-content">
                            <h4 class="main-card-title">How to build a moon park?</h4>
                            <div class="main-card-text">Lorem ipsum - dolor sit amet, consectetuer</br>
                                adipiscing elit, sed diam nonummy nibh euismod</br>
                                tincidunt ut laoreet dolore magna aliquam erat</br>
                                volutpat. Ut wisi enim ad minim veniam, quis nostrud</br>
                                exerci tation ullamcorpermsuscipit lobortis nisl ut</br>
                                aliquip ex ea commodo consequat.</div>
                        </div>

                        <div class="main-card-bottom">
                            <div class="main-card-tags">
                                Tags:
                                <a href="#">black-jack</a>
                                <a href="./bender.html">bender</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="./account.png" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">
                        <div class="card-right-content">
                            <div class="card-text">First of all I would like to thank you for the </br>
                            invitation to participate in such a ... Russia is the </br>
                            huge territory which in many respects needs to</br>
                            be render habitable.</div>
                        </div>

                        <div class="check">
                            <input type="checkbox" id="scales" name="scales" checked/>
                            <label for="scales">Correct!</label>
                        </div>
                    </div>
                </article>

                 <article class="card">
                    <div class="card-left">
                        <img src="./account.png" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="3">
                    </div>

                    <div class="card-right">
                        <div class="card-right-content">
                            <div class="card-text">First of all I would like to thank you for the </br>
                            invitation to participate in such a ... Russia is the </br>
                            huge territory which in many respects needs to</br>
                            be render habitable.</div>
                        </div>

                        <div class="check">
                            <input type="checkbox" id="scales" name="scales"/>
                            <label for="scales">Correct!</label>
                        </div>
                    </div>
                </article>

                <form action="./question.html">
                    <div class="your-answer">
                        <textarea class="comment" placeholder="Enter your answer here.."></textarea>
                    </div>

                    <div class="answer-button">
                        <button class ="answer-form-button">Answer</button>
                    </div>
                </form>
            </div>

            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="#">perl</a>
                        <a href="#" style="color: #FF0000">python</a>
                        <a href="#">TechnoPark</a>
                        <a href="#" style="color: #FF0000">MySQL</a>
                        <a href="#" style="color: #32CD32">django</a>
                        <a href="#">Mail.Ru</a>
                        <a href="#">Voloshin</a>
                        <a href="#" style="color: #FFA500">Firefox</a>
                    </div>
                </section>

                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#"> Mr. Freeman</a></li>
                        <li><a href="#"> Dr. House</a></li>
                        <li><a href="#"> Bender</a></li>
                        <li><a href="#"> Queen Victoria</a></li>
                        <li><a href="#"> V. Pupkin</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>