{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}AskPupkin Registration{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <div class="left">
        <div class="title-bar">
            <h1>Registration</h1>
        </div>
        <div class="registration">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="error">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="form-text text-danger">
                                {{ field.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="register-right-button">Register!</button>
            </form>
        </div>
    </div>
{% endblock %}
