{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Tag{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}
    <div class="cards">
        <div class="title-bar">
            <h1>Tag: {{ tag.name }}</h1>
        </div>

        {% for question in questions %}
            {% include 'layouts/question.html' %}
        {% endfor %}

        {% include 'layouts/pagination.html' %}
    </div>
{% endblock %}